@using e_commerce.Models;
@model IEnumerable<Products>

@{
    ViewData["Title"] = "Товары";
}


<br/>

<div class="container">

    <h2 class="text-dark text-center">Список товаров</h2> <br/>

    <div class="row">
        <div class="col-6">
            <a asp-action="Create" class="btn btn-light btn-outline-dark">&nbsp; Добавить позицию</a>
        </div>
    </div> <br/>    

    @* Сортировка
        <form method="post">
            <div class="row">
                <div class="col-3">
                    <input type="number" class="form-control" name="lowAmount" />
                </div>
                <div class="col-3">
                    <input type="number" class="form-control" name="largeAmount" />
                </div>
                <div class="col-3">
                    <input type="submit" value="Поиск" class="btn btn-success" />
                </div>
                <div class="col-3"></div>
            </div>
        </form>
    *@

    <div>

        <table class="table table-striped border">

            <thead class="thead-dark">

                <tr class="table">
                    <th>
                        @Html.DisplayNameFor(expression: c => c.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(expression: c => c.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(expression: c => c.ProductColor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(expression: c => c.IsAvailable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(expression: c => c.ProductTypeId)
                    </th>
                    <th></th>
                </tr>

            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.ProductColor</td>
                    <td>@item.IsAvailable</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>
                        <a asp-action="Edit"    asp-controller="Product" class="btn btn-light btn-outline-secondary" asp-route-id="@item.Id">Редактировать</a>
                        <a asp-action="Details" asp-controller="Product" class="btn btn-light btn-outline-secondary" asp-route-id="@item.Id">Инфо.</a>
                        <a asp-action="Delete"  asp-controller="Product" class="btn btn-light btn-outline-danger"    asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }

        </table>

    </div>

</div>